*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.drop_zone{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    cursor: pointer;
}

.drop_zone p{
    font-size: 24px;
    color: #ccc;
}
